.logoDistancia {
    img {
        margin-top: 80px;
        height: 250px;
        width: 350px;
    }
    ;
}

h4 {
    font-size: 30px;
    color: #ffffff;
    margin-top: 70px;
}

.alergiasLogo {
    img {
        margin-top: 80px;
        height: 300px;
        width: 350px;
        float: right;
    }
    ;
}

.flechaLogo {
    img {
        margin-top: 80px;
        height: 300px;
        width: 350px;
        margin-left: 35%;
        margin-bottom: 30px;
    }
}

.lavadoDeManosImagen {
    img {
        margin-top: 40px;
        margin-left: 7%;
        ;
    }
}